[Unit]
Description=Coffee watcher service

[Service]
ExecStart=/home/pi/shipit-coffee-machine/watcher.py
User=pi

[Install]
WantedBy=multi-user.target